@import "tailwindcss";

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #696969f9;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #03044d;
  border-radius: 60px;
}

::-webkit-scrollbar-thumb:hover {
  background: #03044d;
}
